{% extends 'base.html' %}
{% block content %}
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
    }

    #comment {
        padding: 10px;
        /* добавит отступ внутри поля */
        box-sizing: border-box;
        /* чтобы padding не*


    html {
        overflow-x: hidden;
        /* Убираем горизонтальный скролл для всей страницы */
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 60px);
        /* Высота экрана с учётом навбара */
        padding: 20px;
        /* Отступы, чтобы контент не прилипал к краям */
        background-color: #f4f4f4;
    }

    .quiz-container {
        width: 100%;
        max-width: 600px;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        text-align: center;
    }

    .quiz-header h1 {
        font-size: 24px;
        color: #333;
        margin-bottom: 10px;
    }

    .quiz-header p {
        font-size: 16px;
        color: #666;
        margin-bottom: 5px;
    }

    .quiz-header span {
        font-size: 14px;
        color: #888;
        display: block;
        margin-bottom: 20px;
    }

    .quiz-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .question-container {
        margin-bottom: 20px;
    }

    .question-container p {
        font-size: 18px;
        color: #333;
    }

    .answer-buttons {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        margin-top: 10px;
    }

    .answer-buttons button {
        padding: 10px;
        border: 1px solid #ccc;
        background-color: #767676;
        border-radius: 4px;
        cursor: pointer;
        align-items: center;
        transition: background-color 0.3s;
    }

    .answer-buttons button:hover {
        background-color: #ffd700;
        color: white;
    }

    .btn {
        padding: 10px 20px;
        background-color: #1c73de;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    .btn:hover {
        background-color: #45a049;
    }

    #next-button {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    #time-up-message {
        display: none;
        color: red;
        font-weight: bold;
        margin-bottom: 10px;
    }

    #timer {
        display: none;
        font-size: 18px;
        margin-top: 10px;
        color: #333;
    }

    .text-answer-container {
        display: none;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        width: 100%;
    }

    .text-answer-container input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }

    .text-answer-container button {
        margin-top: 10px;
    }
</style>

<body style="display: none;">
    <div class="container">
        <div class="quiz-container">
            <div class="quiz-header">
                <h1>{{ quiz.title }}</h1>
                <p>{{ quiz.description }}</p>
                <span id="question-count">Всего вопросов: {{ quiz.count_question }}</span>
            </div>
            <div id="timer"></div>
            <button id="start-button" class="btn" onclick="startQuizRequest({{ quiz.id }})">Начать квиз</button>
            <div class="quiz-body" id="quiz-body" style="display: none;">
                <div id="question-container" class="question-container">
                    <p id="question-text"></p>
                    <div id="time-up-message">
                        Вы не успели ответить на вопрос!
                    </div>
                    <div id="answer-buttons" class="answer-buttons"></div>
                    <div class="text-answer-container" id="text-answer-container" , style="display: none;">
                        <input type="text" id="text-answer" placeholder="Введите ваш ответ">
                        <button class="btn" onclick="submitAnswer()">Ответить</button>
                    </div>
                    <div id="result-message" style="display: none;"></div>
                </div>
            </div>
            <button id="next-button" class="btn" onclick="nextQuestion()">Следующий вопрос</button>
        </div>
    </div>
    <script>
        function getQuizIdFromUrl() {
            const path = window.location.pathname;
            const segments = path.split('/');
            const quizId = segments[2];
            return quizId ? parseInt(quizId, 10) : null;
        }
        let questionDuration = 0;
        let remainingTime = 0;
        let timerInterval;
        let quizId = getQuizIdFromUrl();
        let sessionID = localStorage.getItem('sessionID_' + quizId);
        let isRequestInProgress = false;
        let isAnswerSubmitted = false;
        let questionType = 'choice'
        const token = localStorage.getItem('auth_token');
        function startQuizRequest(quiz_id) {
            if (isRequestInProgress) return;
            isRequestInProgress = true;
            fetch('/start_quiz', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                },
                body: JSON.stringify({ quiz_id: quiz_id })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.message === 'Quiz started') {
                        isRequestInProgress = false;
                        sessionID = data.session_id;
                        localStorage.setItem('sessionID_' + quizId, sessionID);
                        document.getElementById('start-button').style.display = 'none';
                        document.getElementById('quiz-body').style.display = 'block';
                        loadQuestion(data);
                    } else {
                        console.error(data.message);
                    }
                })

                .catch(error => {
                    isRequestInProgress = false;
                    console.error('Error starting quiz:', error);
                })
        }

        function loadQuestion(data) {
            questionData = data.question
            questionDuration = data.duration;
            remainingTime = questionDuration
            document.getElementById('question-text').innerText = questionData.text;
            document.getElementById('question-count').innerText = `Вопрос ${data.number + 1} из ${data.count_question}`;
            document.getElementById('result-message').style.display = 'none'
            const answersContainer = document.getElementById('answer-buttons');
            const textAnswerContainer = document.getElementById('text-answer-container')
            answersContainer.innerHTML = '';
            if (data.number + 1 === data.count_question) {
                document.getElementById('next-button').textContent = "Finish Quiz"
            }
            questionType = questionData.type
            if (questionType === 'text') {
                textAnswerContainer.style.display = 'block';
            } else {
                textAnswerContainer.style.display = 'none';
                questionData.answers.forEach(answer => {
                    const button = document.createElement('button');
                    button.classList.add('btn');
                    button.setAttribute('data-id', answer.id);
                    button.innerText = answer.text;
                    button.onclick = () => submitAnswer(answer.id);
                    answersContainer.appendChild(button);
                });
            }
            startTimer();
            document.getElementById('time-up-message').style.display = 'none';
        }

        function submitAnswer(answerID = null, timerNotEnd = true) {
            if (isRequestInProgress || isAnswerSubmitted) return; // Предотвращаем повторный запрос
            isRequestInProgress = true;
            isAnswerSubmitted = true;
            clearInterval(timerInterval);
            document.getElementById('timer').style.display = 'none'; // Скрыть таймер
            let answerData = {};
            const textAnswer = document.getElementById('text-answer').value;
            if (questionType === 'choice') {
                answerData = {
                    answer_id: answerID,
                    session_id: sessionID,
                    is_in_time: timerNotEnd
                };
            } else if (questionType === 'text') {
                answerData = {
                    text_answer: textAnswer,
                    session_id: sessionID,
                    is_in_time: timerNotEnd
                };
            }
            fetch('/submit_answer', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                },
                body: JSON.stringify(answerData)
            })
                .then(response => response.json())
                .then(data => {
                    isRequestInProgress = false;
                    if (data.message === 'Answer received') {
                        if (questionType === 'choice') {
                            localStorage.setItem('answerID', answerID);
                            highlightAnswers(data.correct_answer_id, data.is_in_time);
                        } else if (questionType === 'text') {
                            localStorage.setItem('textAnswer', textAnswer);
                            highlightTextAnswer(data.is_correct, data.correct_answer, data.is_in_time);
                        }
                    } else {
                        console.error(data.message);
                    }
                })
                .catch(error => {
                    isRequestInProgress = false;
                    console.error('Error submitting answer:', error);
                })
        }

        function highlightAnswers(correctAnswerID, isInTime) {
            const answerButtons = document.querySelectorAll('#answer-buttons .btn');
            let userAnswerID = localStorage.getItem('answerID')
            if (!isInTime) {
                document.getElementById('time-up-message').style.display = 'block';
            }
            answerButtons.forEach(button => {
                const buttonAnswerID = parseInt(button.getAttribute('data-id'));
                const isCorrect = buttonAnswerID === correctAnswerID;
                const isUserAnswer = buttonAnswerID == userAnswerID
                if (isCorrect) {
                    button.style.backgroundColor = '#4CAF50';  // Green for correct answer
                } else if (isUserAnswer) {
                    button.style.backgroundColor = '#FF6347';  // Red for incorrect user answer
                } else {
                    button.style.backgroundColor = '#767676';  // Default for unselected answers
                }
            });
            document.getElementById('next-button').style.display = 'flex';
        }
        function highlightTextAnswer(isCorrect, correctAnswer, isInTime) {
            let textAnswer = localStorage.getItem('textAnswer')
            const textAnswerContainer = document.getElementById('text-answer-container');
            if (!isInTime) {
                document.getElementById('time-up-message').style.display = 'block';
            }
            textAnswerContainer.style.display = 'none';
            const resultMessage = document.getElementById('result-message');
            resultMessage.style.display = 'block';
            resultMessage.innerHTML = '';
            if (isCorrect) {
                resultMessage.innerHTML = `Ваш ответ '${textAnswer}' верный`;
            } else {
                resultMessage.innerHTML = `Вы ответили: '${textAnswer}', но правильный ответ: '${correctAnswer}'`;
            }

            document.getElementById('next-button').style.display = 'flex';
        }
        function nextQuestion() {
            if (isRequestInProgress) return; // Предотвращаем повторный запрос
            isRequestInProgress = true;
            isAnswerSubmitted = false;
            if (!sessionID) {
                console.error('Session ID is missing.');
                return;
            }

            fetch('/next_question', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                },
                body: JSON.stringify({ session_id: sessionID })
            })
                .then(response => response.json())
                .then(data => {
                    isRequestInProgress = false;
                    if (data.message === 'Next question retrieved') {
                        loadQuestion(data);
                        document.getElementById('next-button').style.display = 'none';
                    } else if (data.message === 'No more questions available') {
                        finishQuiz();
                    } else {
                        console.error(data.message);
                    }
                })
                .catch(error => {
                    console.error('Error retrieving next question:', error)
                    isRequestInProgress = false;
                });
        }

        function finishQuiz() {
            fetch('/finish_quiz', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                },
                body: JSON.stringify({ session_id: sessionID })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.message === 'Quiz finished') {
                        const score = data.score;
                        const totalQuestions = document.getElementById('question-count').innerText.split(" из ")[1];
                        document.getElementById('quiz-body').style.display = 'none';
                        let detailedReportButton = data.is_guest
                            ? ''
                            : `<button class="btn" onclick="viewDetailedReport(${data.attempt_id})">Просмотреть подробный отчет</button>`;

                        document.querySelector('.quiz-container').innerHTML = `
                                <div class="quiz-header">
                                    <h1>Результаты викторины</h1>
                                    <p>Ваш результат: ${score} из ${totalQuestions}</p>
                                    <div class="button-container" style="display: flex; flex-direction: column; align-items: center; gap: 10px; margin-top: 15px;">
                                        <button class="btn" onclick="restartQuiz()">Пройти квиз снова</button>
                                        ${detailedReportButton}
                                    </div>
                                </div>
                                <div class="comment-container">
                                    <form id="comment-form">
                                        <label for="comment">Оставьте комментарий автору:</label><br>
                                        <textarea id="comment" name="comment" rows="4" cols="50" required></textarea><br>
                                        <button type="submit">Отправить</button>
                                    </form>
                                </div>
                            `;
                        localStorage.removeItem('sessionID_' + quizId);
                        document.getElementById('comment-form').addEventListener('submit', function (e) {
                            e.preventDefault();

                            const comment = document.getElementById('comment').value;
                            fetch('/quiz/{{ quiz.id }}/comment', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify({ content: comment })
                            }).then(res => {
                                if (res.ok) {
                                    alert('Комментарий отправлен!');
                                    restartQuiz()
                                } else {
                                    alert('Ошибка при отправке комментария.');
                                }
                            });
                        });
                    } else {
                        console.error(data.message);
                    }
                })
                .catch(error => console.error('Error finishing quiz:', error));
            document.getElementById('time-up-message').style.display = 'none';
        }
        window.addEventListener('load', () => {
            if (sessionID) {
                console.log('Found quiz session ID:', sessionID);
                fetch(`/quiz_state/${sessionID}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.error) {
                            console.error('Error fetching quiz state:', data.error);
                            localStorage.removeItem('sessionID_' + quizId);
                        } else {
                            console.log('Quiz state loaded:', data);
                            restoreQuizState(data); // Функция для восстановления состояния
                            document.body.style.display = 'block'
                        }
                    })
                    .catch(error => {
                        console.error('Error fetching quiz state:', error);
                    });
            } else {
                console.log('No quiz session found. Starting a new quiz.');
                document.body.style.display = 'block'
            }
        });
        function restoreQuizState(data) {
            document.getElementById('start-button').style.display = 'none';
            document.getElementById('quiz-body').style.display = 'block';
            loadQuestion(data);
            if (data.message === 'Answer already submitted') {
                document.getElementById('timer').style.display = 'none'
                isAnswerSubmitted = true;
                if (data.question.type === 'choice') {
                    highlightAnswers(data.correct_answer_id, data.is_in_time);
                } else if (data.question.type === 'text') {
                    highlightTextAnswer(data.is_correct, data.correct_answer, data.is_in_time);
                }
                document.getElementById('next-button').style.display = 'flex'
                clearInterval(timerInterval);
                return;
            }
            remainingTime = Math.floor(data.remaining_time);
            clearInterval(timerInterval);
            startTimer();
            document.getElementById('next-button').style.display = 'none';
        }
        function restartQuiz() {
            localStorage.removeItem('sessionID_' + quizId);
            location.reload();
        }
        function startTimer() {
            const answerButtons = document.querySelectorAll('#answer-buttons .btn');
            timerInterval = setInterval(() => {
                remainingTime--;
                document.getElementById('timer').innerText = `Оставшееся время: ${remainingTime} секунд`;
                document.getElementById('timer').style.display = 'block';
                if (remainingTime <= 0) {
                    clearInterval(timerInterval);
                    submitAnswer(null, false)
                }
            }, 1000);
        }
    </script>
</body>

</html>
{% endblock %}