{% extends 'base.html' %}
{% block content %}
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
    }

    html {
        overflow-x: hidden;
        /* Убираем горизонтальный скролл для всей страницы */
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 60px);
        /* Высота экрана с учётом навбара */
        padding: 20px;
        /* Отступы, чтобы контент не прилипал к краям */
        background-color: #f4f4f4;
    }

    .quiz-container {
        width: 100%;
        max-width: 600px;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        text-align: center;
    }

    .quiz-header h1 {
        font-size: 24px;
        color: #333;
        margin-bottom: 10px;
    }

    .quiz-header p {
        font-size: 16px;
        color: #666;
        margin-bottom: 5px;
    }

    .quiz-header span {
        font-size: 14px;
        color: #888;
        display: block;
        margin-bottom: 20px;
    }

    .quiz-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .question-container {
        margin-bottom: 20px;
    }

    .question-container p {
        font-size: 18px;
        color: #333;
    }

    .answer-buttons {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        margin-top: 10px;
    }

    .answer-buttons button {
        padding: 10px;
        border: 1px solid #ccc;
        background-color: #767676;
        border-radius: 4px;
        cursor: pointer;
        align-items: center;
        transition: background-color 0.3s;
    }

    .answer-buttons button:hover {
        background-color: #ffd700;
        color: white;
    }

    .btn {
        padding: 10px 20px;
        background-color: #1c73de;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    .btn:hover {
        background-color: #45a049;
    }

    #next-button {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    #time-up-message {
        display: none;
        color: red;
        font-weight: bold;
        margin-bottom: 10px;
    }

    #timer {
        display: none;
        font-size: 18px;
        margin-top: 10px;
        color: #333;
    }
</style>

<body style="display: none;">
    <div class="container">
        <div class="quiz-container">
            <div class="quiz-header">
                <h1>{{ quiz.title }}</h1>
                <p>{{ quiz.description }}</p>
                <span id="question-count">Всего вопросов: {{ quiz.count_question }}</span>
            </div>
            <div id="timer"></div>
            <button id="start-button" class="btn" onclick="startQuizRequest({{ quiz.id }})">Начать квиз</button>
            <div class="quiz-body" id="quiz-body" style="display: none;">
                <div id="question-container" class="question-container">
                    <p id="question-text"></p>
                    <div id="time-up-message">
                        Вы не успели ответить на вопрос!
                    </div>
                    <div id="answer-buttons" class="answer-buttons"></div>
                </div>
            </div>
            <button id="next-button" class="btn" onclick="nextQuestion()">Следующий вопрос</button>
        </div>
    </div>
    <script>
        function getQuizIdFromUrl() {
            const path = window.location.pathname;
            const segments = path.split('/');
            const quizId = segments[2];
            return quizId ? parseInt(quizId, 10) : null;
        }
        let questionDuration = 0;
        let remainingTime = 0;
        let timerInterval;
        let quizId = getQuizIdFromUrl();
        let sessionID = localStorage.getItem('sessionID_' + quizId);
        let isRequestInProgress = false;
        const token = localStorage.getItem('auth_token');
        function startQuizRequest(quiz_id) {
            if (isRequestInProgress) return;
            isRequestInProgress = true;
            fetch('/start_quiz', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                },
                body: JSON.stringify({ quiz_id: quiz_id })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.message === 'Quiz started') {
                        isRequestInProgress = false;
                        sessionID = data.session_id;
                        localStorage.setItem('sessionID_' + quizId, sessionID);
                        document.getElementById('start-button').style.display = 'none';
                        document.getElementById('quiz-body').style.display = 'block';
                        loadQuestion(data);
                    } else {
                        console.error(data.message);
                    }
                })

                .catch(error => {
                    isRequestInProgress = false;
                    console.error('Error starting quiz:', error);
                })
        }

        function loadQuestion(data) {
            questionData = data.question
            questionDuration = data.duration;
            remainingTime = questionDuration
            document.getElementById('question-text').innerText = questionData.text;
            document.getElementById('question-count').innerText = `Вопрос ${data.number + 1} из ${data.count_question}`;

            const answersContainer = document.getElementById('answer-buttons');
            answersContainer.innerHTML = '';
            if (data.number + 1 === data.count_question) {
                document.getElementById('next-button').textContent = "Finish Quiz"
            }
            questionData.answers.forEach(answer => {
                const button = document.createElement('button');
                button.classList.add('btn');
                button.setAttribute('data-id', answer.id);
                button.innerText = answer.text;
                button.onclick = () => submitAnswer(answer.id);
                answersContainer.appendChild(button);
            });
            document.getElementById('time-up-message').style.display = 'none';
            startTimer();
        }

        function submitAnswer(answerID, timerNotEnd = true) {
            if (isRequestInProgress) return; // Предотвращаем повторный запрос
            isRequestInProgress = true;
            fetch('/submit_answer', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                },
                body: JSON.stringify({ answer_id: answerID, session_id: sessionID, is_in_time: timerNotEnd})
            })
                .then(response => response.json())
                .then(data => {
                    isRequestInProgress = false;
                    if (data.message === 'Answer received') {
                        localStorage.setItem('answerID', answerID);
                        highlightAnswers(data.correct_answer_id, data.is_in_time);
                    } else {
                        console.error(data.message);
                    }
                })
                .catch(error => {
                    isRequestInProgress = false;
                    console.error('Error submitting answer:', error);
                })
        }

        function highlightAnswers(correctAnswerID, isInTime) {
            const answerButtons = document.querySelectorAll('#answer-buttons .btn');
            let userAnswerID = localStorage.getItem('answerID')
            if (!isInTime) {
                document.getElementById('time-up-message').style.display = 'block';
            }
            answerButtons.forEach(button => {
                const buttonAnswerID = parseInt(button.getAttribute('data-id'));
                const isCorrect = buttonAnswerID === correctAnswerID;
                const isUserAnswer = buttonAnswerID == userAnswerID
                if (isCorrect) {
                    button.style.backgroundColor = '#4CAF50';  // Green for correct answer
                } else if (isUserAnswer) {
                    button.style.backgroundColor = '#FF6347';  // Red for incorrect user answer
                } else {
                    button.style.backgroundColor = '#767676';  // Default for unselected answers
                }
            });
            document.getElementById('next-button').style.display = 'flex';
        }

        function nextQuestion() {
            if (isRequestInProgress) return; // Предотвращаем повторный запрос
            isRequestInProgress = true;
            if (!sessionID) {
                console.error('Session ID is missing.');
                return;
            }

            fetch('/next_question', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                },
                body: JSON.stringify({ session_id: sessionID })
            })
                .then(response => response.json())
                .then(data => {
                    isRequestInProgress = false;
                    if (data.message === 'Next question retrieved') {
                        loadQuestion(data);
                        document.getElementById('next-button').style.display = 'none';
                    } else if (data.message === 'No more questions available') {
                        finishQuiz();
                    } else {
                        console.error(data.message);
                    }
                })
                .catch(error => {
                    console.error('Error retrieving next question:', error)
                    isRequestInProgress = false;
                });
        }

        function finishQuiz() {
            fetch('/finish_quiz', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                },
                body: JSON.stringify({ session_id: sessionID })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.message === 'Quiz finished') {
                        const score = data.score;
                        const totalQuestions = document.getElementById('question-count').innerText.split(" из ")[1];
                        document.getElementById('quiz-body').style.display = 'none';
                        document.querySelector('.quiz-container').innerHTML = `
                    <div class="quiz-header">
                        <h1>Результаты викторины</h1>
                        <p>Ваш результат: ${score} из ${totalQuestions}</p>
                        <button class="btn" onclick="restartQuiz()">Пройти квиз снова</button>
                    </div>
                `;
                        localStorage.removeItem('sessionID_' + quizId);
                    } else {
                        console.error(data.message);
                    }
                })
                .catch(error => console.error('Error finishing quiz:', error));
            document.getElementById('time-up-message').style.display = 'none';
        }
        window.addEventListener('load', () => {
            if (sessionID) {
                console.log('Found quiz session ID:', sessionID);
                fetch(`/quiz_state/${sessionID}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.error) {
                            console.error('Error fetching quiz state:', data.error);
                            localStorage.removeItem('sessionID_' + quizId);
                        } else {
                            console.log('Quiz state loaded:', data);
                            restoreQuizState(data); // Функция для восстановления состояния
                            document.body.style.display = 'block'
                        }
                    })
                    .catch(error => {
                        console.error('Error fetching quiz state:', error);
                    });
            } else {
                console.log('No quiz session found. Starting a new quiz.');
                document.body.style.display = 'block'
            }
        });
        function restoreQuizState(data) {
            document.getElementById('start-button').style.display = 'none';
            document.getElementById('quiz-body').style.display = 'block';
            loadQuestion(data);
            if (data.message === 'Answer already submitted') {
                document.getElementById('timer').style.display = 'none'
                highlightAnswers(data.correct_answer_id, data.is_in_time);
                document.getElementById('next-button').style.display = 'flex';
                return;
            }
            remainingTime = Math.floor(data.remaining_time);
            clearInterval(timerInterval);
            startTimer();
            document.getElementById('next-button').style.display = 'none';
        }
        function restartQuiz() {
            localStorage.removeItem('sessionID_' + quizId);
            location.reload();
        }
        function startTimer() {
            document.getElementById('timer').style.display = 'block';
            const answerButtons = document.querySelectorAll('#answer-buttons .btn');
            timerInterval = setInterval(() => {
                remainingTime--;
                document.getElementById('timer').innerText = `Оставшееся время: ${remainingTime} секунд`;

                if (remainingTime <= 0) {
                    clearInterval(timerInterval);
                    submitAnswer(parseInt(answerButtons[0].getAttribute('data-id')), false)
                }
            }, 1000);
        }
    </script>
</body>

</html>
{% endblock %}